.mainBack {
  background-image: url("https://i.pinimg.com/236x/80/5e/cc/805eccdc9ebee0d98b4b4cd8e0f618ab.jpg");
  background-repeat: repeat;
}
.text {
  color: white;
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
}
