.catalogBox {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 100px;
  font-weight: bold;
  margin-left: 20px;
}
.catalogBox:hover {
  background-color: #333232;
}
